@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

/* Global Styles */
:root {
  /* Colors */
  --green: #3ee9e5;
  --blue: #093f68;
  --grey: #777f98;
  --red: #ff2965;
  --black: #080c20;
  --white: #ffffff;

  /* Font Size */
  --font-size-biggest: 48px;
  --line-height-biggest: 56px;
  --font-size-large: 40px;
  --line-height-large: 55px;
  --font-size-medium: 32px;
  --line-height-medium: 44px;
  --font-size-small: 18px;
  --line-height-small: 25px;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: var(--white);
  background-color: var(--black);
}

.biggest-text {
  font-size: var(--font-size-biggest);
  line-height: var(--line-height-biggest);
}

.smallest-text {
  color: var(--grey);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

/* Header Styles */
.header-main-flex-container {
  margin-top: 230px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-flex-container {
  background-image: url("./images/bg-hero-squiggle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 445px;
  height: 480px;
  display: flex;

  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1.5;
}

.span-color {
  color: var(--green);
}

.header-image-left {
  padding-right: 100px;
  width: 400px;
  height: 445px;
}

.header-image-right {
  padding-left: 100px;
  width: 400px;
  height: 445px;
}
